<!DOCTYPE html>
<html>

<head>
    <title>Profile Page</title>
    <% include ../partials/head%>
</head>

<body>
    <% include ../partials/navbar%>
   
    <h4 class="center-align">
        <a href="/socket/home"><button> Chat </button></a>
    </h4>
    <br><br>

    <form action="/profile/index" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col s12"></div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="file-field input-field">
                    <div class="btn grey">
                        <span>File</span>
                        <input type="file" name="image" required="required" />
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" />
                    </div>
                </div>
            </div>
        </div>

        <br><br>
        <div class="row">
            <div class="input-field col s12">
                <input class="validate" id="caption" type="text" name="content" />
                <label for="caption">Caption </label>
            </div>
        </div>
        <div class="row">
            <div class="col s10"> 
                <button class="btn waves-effect waves-light" type="submit" name="action">
                     Upload
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>

    <br><br>

    <% data.forEach(function(user){%>
    <!-- <li><%= user.id %></li> -->
    <div class="row card-panel hoverable">
        <div class="col s6 center-align responsive-img"><img width="200" src='/<%= user.image %>' alt="image"> </div>
        <div class="col s6 center-align"><%= user.content %></div>
    </div>
    <%})%>

</body>
</html>