<!DOCTYPE html>
<html>

<head>
    
    <% include ../partials/head%>
    <!-- web font -->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <title>Read Write Share</title>
    <link href="/css/signup.css" rel="stylesheet" type="text/css" media="all" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <% include ../partials/navbar%>

  <br><br><br><br>

  <div class="none-sq-price">
    <% include signin%>
  </div>
  <div class="sq-price">
    <% include signup%>
  </div>
  <br>
  
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script>
    $('.none-sq-price').hide();
    $('.change-price').on('click', function () {
        $('.sq-price, .none-sq-price').toggle(200);
      }
    );
  </script>
</body>
</html>