<% if (message) { %>
  <div class="alert alert-danger"><%= message %></div>
<% } %>
<div class="main-w3layouts wrapper">
  <h1>Read_Write_Share SignIn Form</h1>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form action="/user/signin" method="post">
      
        <input class="text email" type="email" name="email" placeholder="Email" required="">
        <input class="text" type="password" name="password" placeholder="Password" required="">
      
        
        <input type="submit" value="SIGNIN">
      </form>
      <p>Change to <a href="#" class="change-price">Signup</a> <br> <br><a href="/user/facebook"><i class="fab fa-facebook-f"></i> Facebook</a> 
        <a href="/user/google"><i class="fab fa-google"></i> Google</a>
      </p>
    </div>
  </div>
  
  <ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<!-- ...........,.
<div class="container col-md-4 col-md-offset-4">
        <% if (message) { %>
            <div class="alert alert-danger"><%= message %></div>
          <% } %>
        <form action="/user/signin" method="post">
            <h2>Signin</h2>..
            <label for="email">Email</label> <br> <input type="email" name="email">
            <br>
            <label for="password">Password</label> <br> <input type="password" name="password">
            <br><br>
            <button type="submit">Submit</button>
        </form>
    
    </div>    -->