<!DOCTYPE html>
<html>
  <head>
      <meta name="google-site-verification" content="Lf7x-aXdtVYDW23dwGp0oBY5Blk4b20jemEEbNPfRdE" />
     <!--// Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- ..jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 

<script src="/js/homepage.js"> </script>
<!-- font awesome cdn -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Read Write Share</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style=" background:#76b852;
  overflow:hidden;">
        <% include ../partials/navbar%>  
        <!-- <a href="/user/signin">Signin</a><br>
        <a href="/user/signup">Signup</a><br>
        <i class="fab fa-facebook-f"></i>
        <a href="/user/google">google signin</a><br>
        <a href="/user/facebook">facebook signin</a> -->
        <div class="col-md-4 col-md-offset-4 text-center" style="color:azure">
        <h2>  Read Write Share</h2>
        </div>
        <canvas id="c"></canvas>

  <script></script>
  </body>
</html>
