<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head%>
  <title>Read Write Share</title>
  <script src="/js/homepage.js"> </script>
</head>

<body style=" background:#76b852;overflow:hidden;">

  <% include ../partials/navbar%>
  <canvas id="c"></canvas>

</body>
</html>