<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head%>
</head>

<body style=" background:#76b852;overflow:hidden;">
  <% include ../partials/navbar%>
  <canvas id="c"></canvas>
</body>

</html>